.posts-container {
  display: 'flex'; 
  flex-direction: 'column';
  padding: 5px;
}

.post-item {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.item .content > h2.ui.header {
  font-size: 28px;
}