.ui.message {
  opacity: 1;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

h2 {
  margin-top: 150px;
}

@keyframes fadeOut {
  0% {opacity: 1}
  100% {opacity: 0; display:none !important;}
}